<div class="navbar p-4 mb-4 shadow-lg bg-gray-900 w-full z-10 pt-65">
<div class="flex flex-col md:flex-row px-2 relative items-stretch md:items-center md:space-x-2">
	<a class="transform active:scale-90 ease-in-out bg-white bg-opacity-0 hover:bg-opacity-20 p-2 rounded-xl text-white font-bold text-sm text-indigo-200 uppercase transition duration-200 ease-in-out text-center" href='/'>
		Home
	</a> 
	<a class="transform active:scale-90 ease-in-out bg-white bg-opacity-0 hover:bg-opacity-20 p-2 rounded-xl text-white font-bold text-sm text-indigo-200 uppercase transition duration-200 ease-in-out text-center" href='/api'>
		Api
	</a> 
	<a class="transform active:scale-90 ease-in-out bg-white bg-opacity-0 hover:bg-opacity-20 p-2 rounded-xl text-white font-bold text-sm text-indigo-200 uppercase transition duration-200 ease-in-out text-center" href='/add'>
		Add
	</a> 
	<a class="transform active:scale-90 ease-in-out bg-white bg-opacity-0 hover:bg-opacity-20 p-2 rounded-xl text-white font-bold text-sm text-indigo-200 uppercase transition duration-200 ease-in-out text-center" href='/login'>
		Account
	</a> 
	</div>
</div> 
</div>