<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnyDictionary</title>
    <link rel="stylesheet" href="/public/css/tailwind.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
</head>
<body>
	<%- include ('includes/header.ejs') %>
    <div class="flex h-screen justify-center items-center">
        <div>
	<img style="width:250px;height:250px;" class="mx-auto" src=<%- useravatar %> />
    <h1 class="text-4xl text-center font-bold text-pink-300 mb-4"><%= username %></h1>
    <div class="flex justify-center space-x-3">
    <a href="/wordList"><div class="transform active:scale-90 bg-blue-400 hover:bg-blue-600 rounded-xl text-sm text-black hover:text-white font-bold uppercase p-4 transition duration-300 ease-in-out">Your words</div><br/></a>
    <a href="/following"><div class="transform active:scale-90 bg-yellow-300 hover:bg-yellow-500 rounded-xl text-sm text-black hover:text-white font-bold uppercase p-4 transition duration-300 ease-in-out">Following</div></a>
    <a href="/follower"><div class="transform active:scale-90 bg-green-400 hover:bg-green-600 rounded-xl text-sm text-black hover:text-white font-bold uppercase p-4 transition duration-300 ease-in-out">Followers</div></a>
    <a href="/logoutUser"> <div class="transform active:scale-90 bg-red-400 hover:bg-red-600 rounded-xl text-sm text-black hover:text-white font-bold uppercase p-4 transition duration-300 ease-in-out">Logout</div></a>
  	</div>
        </div>
    </div>
</body>
<script src="/public/js/ext.js"></script>
</html>
