<!DOCTYPE html>
<html lang="en" data-theme="dracula">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/public/css/tailwind.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon">
</head>
<body>
	<%- include ('includes/header.ejs') %>
    <div class="flex h-screen justify-center items-center">
        <div class="max-w-md">
        <h1 class="text-5xl md:text-7xl font-bold text-pink-300 text-center">Register</h1>
        <div class="container mx-auto">
    <form action="/addUser" method="POST">
        <div class="mt-4">
            <label class="label">
                <label class="text-white">Name</label>
              </label> 
            <input type="text" placeholder="Username" name="name" class="w-full border-2 border-pink-400 rounded-md text-white p-3 focus:ring-2 focus:ring-pink-400 transition duration-200 ease-in-out bg-blue-400 bg-opacity-0 mb-2" require>
            <label class="label">
                <label class="text-white">Password</label>
              </label> 
            <input type="password" placeholder="Password" name="pass" class="w-full border-2 border-pink-400 rounded-md text-white p-3 focus:ring-2 focus:ring-pink-400 transition duration-200 ease-in-out bg-blue-400 bg-opacity-0 mb-2" require>
            <button class="transform active:scale-90 mt-2 bg-pink-300 hover:bg-pink-500 rounded-xl text-sm text-black hover:text-white font-bold uppercase p-4 transition duration-300 ease-in-out w-full" type="submit">Submit</button> 
            <p class="mt-2 text-white">Already have an account? <a href="/login">Login</a></p>
                <% if(success) { %>
                    <div class="bg-green-700 rounded-xl text-green-500 bg-opacity-20 p-3 mt-2">
                        <h2>Successfully Register! Now you can <a href="/login">Login</a></h2>
                    </div>
                <% } else if(success === false) { %>
                  <div class="bg-red-600 rounded-xl text-red-400 bg-opacity-20 p-3 mt-2">
                    <h2>Username already registered</h2>
                </div>
                <% } %>
        </div>
        </div>
        </div>
    </form>
</div>

</body>
<script src="/public/js/ext.js"></script>
</html>